body 
{


    display: flex;
    flex-direction: column;
    

    /* background-image: 
    url("../images/background女の子.png"),
    url("../images/背景ピンクブロック.png");  */

    background-repeat: no-repeat, repeat;

    background-attachment: scroll, scroll; 

    background-size: 100vw, auto; 

    background-position: center top, center;

}

header
{
    height: auto;
    display: flex;
    background-color: coral;
}

.title
{
    height: auto; 
    width: 60vw;
    display: block; 
}
main 
{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: darkgray;
}
@media (max-width: 768px) 
{
    main 
    {
        display: flex;
        flex-direction: column;
    }
    article
    {
        width: 100vw;
        order: 2;
        flex-grow: 1;
    }
    nav
    {
        width: 100vw;
        order: 1;
    }
}
 
article 
{
    width: 33vw;
    min-width: 600px;
    background-color: bisque;
}

nav 
{
    width: 25vw;
    min-width: 600px;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    margin-right: 30vw;
    background-color: rgb(56, 123, 140);
}
table
{
    width: 100%;
    height: 600px;
    justify-content: center;
    border-spacing: 20px;
}
td
{
    text-align: center;
    width: 50%;
}
td img 
{ 
    width: 100%; 
    height: auto;
    display: block;
}
td img[alt="はじめに"] 
{
    width: 50%;
    margin: 0 auto;
}
td img[alt="about"] 
{
    width: 50%;
    margin: 0 auto;
}
