body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 40%;
    margin: 0 auto;
    
}

header
{
    height: 15vh;
    display: flex;
    background-color: coral;
}
main 
{
    display: flex;
    flex-grow: 1;
    background-color: darkgray;
}
 
article 
{
    width: 70%;
    background-color: bisque;
}

aside
{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}
.image-container {
    width: 100%;
    height: 100%;
    object-fit: contain; /* エリアを完全に埋める（切り抜きあり） */
}

